[package]
name = "oxk"
version = "0.1.1"
edition = "2024"
authors = ["richerfu<southsouth0929@foxmail.com>"]
description = "An ArkTS/ArkUI tool based on oxc"
license = "MIT"

[[bin]]
name = "oxk"
path = "src/main.rs"

[dependencies]
oxc_formatter = { git = "https://github.com/ohos-rs/oxc", rev = "be44b5d9da9dc0eea771fed432146bd4231a9d1c" }
oxc_allocator = { git = "https://github.com/ohos-rs/oxc", rev = "be44b5d9da9dc0eea771fed432146bd4231a9d1c" }
oxc_parser = { git = "https://github.com/ohos-rs/oxc", rev = "be44b5d9da9dc0eea771fed432146bd4231a9d1c" }
oxc_span = { git = "https://github.com/ohos-rs/oxc", rev = "be44b5d9da9dc0eea771fed432146bd4231a9d1c" }

bpaf = "0.9"
owo-colors = "4"
globset = "0.4"
walkdir = "2"
tokio = { version = "1", features = ["full"] }
futures = "0.3"
