[package]
name = "oxk"
version = "0.1.0"
edition = "2024"
authors = ["richerfu<southsouth0929@foxmail.com>"]
description = "A ArkTS/ArkUI tool based on oxc"
license = "MIT"

[[bin]]
name = "oxk"
path = "src/main.rs"

[dependencies]
oxc_formatter = { git = "https://github.com/ohos-rs/oxc", rev = "be70cb6e6baf001f84a6a880e7378477f225a1cc" }
oxc_allocator = { git = "https://github.com/ohos-rs/oxc", rev = "be70cb6e6baf001f84a6a880e7378477f225a1cc" }
oxc_parser = { git = "https://github.com/ohos-rs/oxc", rev = "be70cb6e6baf001f84a6a880e7378477f225a1cc" }
oxc_span = { git = "https://github.com/ohos-rs/oxc", rev = "be70cb6e6baf001f84a6a880e7378477f225a1cc" }

bpaf = "0.9"
owo-colors = "4"
globset = "0.4"
walkdir = "2"
tokio = { version = "1", features = ["full"] }
futures = "0.3"
