[package]
name = "oxk"
version = "0.2.0"
edition = "2024"
authors = ["richerfu<southsouth0929@foxmail.com>"]
description = "An ArkTS/ArkUI tool based on oxc"
license = "MIT"

[[bin]]
name = "oxk"
path = "src/main.rs"

[dependencies]
oxc_formatter = { git = "https://github.com/ohos-rs/oxc", rev = "a32873413c45741e7f85e901b979ed4ca29b3f83" }
oxc_allocator = { git = "https://github.com/ohos-rs/oxc", rev = "a32873413c45741e7f85e901b979ed4ca29b3f83" }
oxc_parser = { git = "https://github.com/ohos-rs/oxc", rev = "a32873413c45741e7f85e901b979ed4ca29b3f83" }
oxc_span = { git = "https://github.com/ohos-rs/oxc", rev = "a32873413c45741e7f85e901b979ed4ca29b3f83" }


bpaf = "0.9"
owo-colors = "4"
globset = "0.4"
walkdir = "2"
tokio = { version = "1", features = ["full"] }
futures = "0.3"
